:root {
  --background-color: #ff5d18;
}
.bg_close {
  background: rgba(0, 0, 0, 0.2);
}
.bg_money {
  background: rgba(0, 0, 0, 0.1);
}
.bg_user {
  background: linear-gradient(to bottom, #ff5d18, #ffffff);
}
.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
img {
  width: 100%;
  height: 100%;
}
.logo img {
  border-radius: 8px;
}
.go-to button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.border-icon {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.slide-ft img {
  border-radius: 10px;
}
.hover-effect:hover .icon,
.hover-effect:hover .text {
  color: #ff5d18;
  transition: 0.3s;
}
.hover-info button:hover {
  background: #ff5d18;
  transition: 0.3s;
}

.text_input {
  font-size: 16px;
}
@media (max-width: 375px) {
  .text_input {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .text_input {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .taiXe_money p{
   font-size:11px;
  }
}
@media (max-width: 320px) {
  .but-thong-bao{
    font-size:11px;
  }
}

.text-tai-xe {
  font-size: 14px;
}
.hover-tt:hover {
  background: #ff5d18;
  transition: 0.5s;
  color: white;
}

.hover_all:hover{
  background: blue;
  transition: 0.5s;
  color: white;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 20;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.shadow-overlay.active {
  display: block;
  background: rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(5px);
}
.img-new img {
  border-radius:0.625rem 0.625rem 0 0;
}
.c-img {
  position: relative;
  display: block;
}
.c-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.img-avt img{
  border-radius: 100%;
}
.map {
  height: 100vh;
}
